.container {
  width: clamp(375px, 80%, 600px);
  margin: auto;
  text-align: center;
}
body {
  background: var(--backgroundColor);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1;
}

p {
  color: rgb(68, 84, 100);
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 1.5rem 0;
}

label {
  font-size: 1.2rem;
}

button,
input {
  border: none;
  outline: transparent;
  border-radius: 5px;
}
button {
  background-color: rgb(17, 98, 17);
  color: #fff;
  letter-spacing: 2px;
  cursor: pointer;
}
input {
  padding: 0;
  padding-left: 1rem;
  font-size: 1.1rem;
  background-color: rgb(210, 221, 225);
  width: 40px;
  margin-right: 10px;
}

form {
  height: 30px;
}

form > * {
  height: 100%;
}
